body {
    background-color: white;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px lightgrey;
    list-style-type: square;
}

.center {
    text-align: center;
}

h1 {
    color: black;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-position: outside;
    font-size: 1.4em;
}

li {
    color: skyblue;
}
